body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.name {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    color: #252B42;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: #737373;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover {
    border-bottom: 2px solid #737373;
    color: #737373;
}

.button-solid, .form-container button {
    border: 2px solid #252B42;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #252B42;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    transition: text-decoration 0.3s ease;
}

.button-solid:hover, .form-container button:hover {
    text-decoration: underline;
}

#home {
    background-image: url('/assets/images/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #ffffff;
}

#about {
    height: 100vh;
    align-items: center;
}

#services {
    height: 100vh;
    align-items: center;
}

#contact {
    height: 100vh;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 1280px;
    margin: auto;
}

.title {
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    color: #252b42;
    max-width: 693px;
    margin: 0 0 16px 0;
}

.description {
    color: #737373;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 1280px;
    margin: auto;
}

.content {
    flex: 2;
    max-width: 67%; 
}


.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.card-item {
    text-align: center;
    padding: 16px;
    background-color: #f7f7f7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border-color 0.3s;
    width: 300px; /* Fixed width for consistency */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden; /* Ensure content does not overflow */
}

.card-item .photo {
    width: 100%;
    height: 200px; /* Fixed height to ensure consistency */
    object-fit: cover; /* Ensures image covers the container while maintaining aspect ratio */
    border-radius: 15px;
    margin-bottom: 16px;
}

.card-title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 12px 0;
    color: #252B42;
    transition: color 0.3s;
}

.card-text {
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
    margin-bottom: 20px;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-container img {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(15%) sepia(6%) saturate(3428%) hue-rotate(190deg) brightness(100%) contrast(94%);
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #252B42;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.form-container {
    flex: 1;
    max-width: 33%;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #252B42;
}

.form-container h3 {
    margin-top: 0;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
}

p {
    color: #737373;
    text-align: justify;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
}

h3 {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #ffffff; 
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

#contact, #about, #services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

#contact h3 {
    margin-bottom: 2rem;
}

.contact-container {
    max-width: 800px;
    width: 100%;
    text-align: center;
}

#contact-info, #contact-form {
    margin-bottom: 2rem;
}

#map iframe {
    max-width: 100%;
    height: auto;
    border: 0;
}

#services h3 {
    margin-bottom: 2rem;
}

h2{
    color:#252B42;
}

h3{
    color:#252B42;
}